<h2>Anime</h2>

<div class="ads">

</div>
<div class="row">
  <div class="temp1 col s12 l6">
    <div class="collection with-header z-depth-1">
      <div class="collection-header"><h4>Primera temporada</h4></div>
      <a *ngFor="let cap of animeT1" routerLink="/anime/1/{{cap.num}}" class="collection-item">{{cap.num}}. {{shortTitle(cap.title)}}</a>
    </div>
  </div>
  <div class="temp2 col s12 l6">
    <div class="collection with-header z-depth-1">
      <div class="collection-header"><h4>Segunda temporada</h4></div>
      <a *ngFor="let cap of animeT2; let last = last" routerLink="/anime/2/{{cap.num}}" class="collection-item">
        {{cap.num}}. {{shortTitle(cap.title)}}
        <span class="new badge red z-depth-1" data-badge-caption="último capitulo" *ngIf="last" ></span>
      </a>
    </div>
  </div>
</div>
