<div class="row">
  <h4>{{episode.title}}</h4>
  <h5>Capitulo {{episode.num}}</h5>
</div>
<div class="row">
  <div *ngFor="let serve of episode.servers">
    <div *ngIf="serve.name == serveActive" class="video-container">
      <iframe width="853" height="480" [src]="sanitizer.bypassSecurityTrustResourceUrl(serve.url)" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>
<div class="row">
  <div class="chips-container col s8">
    <a *ngFor="let serve of episode.servers" (click)="activeServe(serve.name)">
      <div class="chip" [class.active]="serve.name == serveActive">
        {{serve.name}}
      </div>
    </a>
  </div>
  <div class="date col s4">Emisión: {{episode.date}}</div>
</div>
<h5>Comentarios</h5>
<div id="disqus_thread"></div>
