<mz-navbar [navbarClass]="'red darken-4'">
  <span class="page">Inicio</span>
  <mz-navbar-item-container [align]="'right'">
    <mz-navbar-item><a mz-button class="red darken-1">Acerca de</a></mz-navbar-item>
  </mz-navbar-item-container>
</mz-navbar>
