#clockdiv
  color: black
  display: inline-block
  font-weight: 300
  text-align: center
  font-size: 25px
  width: 100%

#clockdiv > div
  font-weight: 500
  display: inline-block

#clockdiv div > span
  text-align: center
  display: inline-block

.smalltext
  font-weight: 300
  padding-top: 5px
  font-size: 14px
  text-align: center

.ver-mas a
  margin-bottom: 5px
